@import 'src/styles/variables';

.card {
  background-color: $white_color;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
  border-radius: 10px;

  &__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &__name {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
  }

  &__info {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}